/* -------------------- AppBar -------------------- */
.appbar {
  width: fit-content;
  border-radius: 8px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}

.toolbarContent {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

/* -------------------- Pages (Home, About) -------------------- */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px; 
  margin: 10px auto 0 auto;
}

.pageContainer p {
  margin-top: 10px;
  font-size: 1rem;
  text-align: justify; 
}

/* -------------------- WeatherCard -------------------- */
.weather-card {
  min-width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.weather-card .city {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.weather-card .temp {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.weather-card .description {
  text-transform: capitalize;
  font-size: 1rem;
}

.weather-card .humidity {
  margin-top: 6px;
  font-size: 1rem;
  color: #555;
}

body {
  background-image: url('/public/praia.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

.history {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.history h3 {
  margin-bottom: 10px;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 5px;
}

.history button:hover {
  background: rgba(255, 255, 255, 0.5);
}
