/* -------------------- AppBar -------------------- */
.appbar {
  width: fit-content;
  border-radius: 8px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}

.toolbarContent {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

/* -------------------- Pages (Home, About) -------------------- */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px; 
  margin: 10px auto 0 auto;
}

.pageContainer p {
  margin-top: 10px;
  font-size: 1rem;
  text-align: justify; 
}

/* -------------------- WeatherCard -------------------- */
.weather-card {
  min-width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.weather-card .city {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.weather-card .temp {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.weather-card .description {
  text-transform: capitalize;
  font-size: 1rem;
}
